#main {
    padding: 30px;
}

/* Form */

form input {
    position: absolute;
    left: 300px;
}

form span {
    position: absolute;
    left: 505px;
    color: red;
    visibility: hidden;
}

#OK {
    height: 25px;
}

/* End of form */ 

/* Search form */

#search-wrapper {
    padding-top: 40px;
}

#search-wrapper input {
    left: 30px;
}

#search-wrapper button {
    width: 100px;
    height: 25px;
}
#search {
    margin-left: 220px;
}

#reset {
    margin-left: 20px;
}

/* End of search form */

/* Phone table */

#phone-table {
    border: 1px solid black;
    border-spacing: 0;
}

#phone-table th {
    border: 1px solid black;
    height: 60px;
    padding: 0;
    text-align: center;
}

#phone-table td {
    border: 1px solid black;
    height: 45px;
    padding: 0;
    text-align: center;
}

.delete-checkbox-td {
    width: 90px;
}

.number {
    width: 90px;
}

.last-name {
    width: 200px;
}

.first-name {
    width: 200px;
}

.phone-number {
    width: 200px;
}

.delete {
    width: 200px;
}

button:hover {
    cursor: pointer;
}

.deleteButton:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* End of phone-table */

#delete-checkbox-button {
    height: 25px;
    margin-top: 50px;
}