#main {
    padding: 30px;
}

/* Form */

input {
    position: absolute;
    left: 300px;
}

form span {
    position: absolute;
    left: 505px;
    color: red;
    visibility: hidden;
}

/* End of form */ 

/* Phone table */

#phone-table {
    border: 1px solid black;
    border-spacing: 0;
}

#phone-table th {
    border: 1px solid black;
    height: 60px;
    padding: 0;
    text-align: center;
}

#phone-table td {
    border: 1px solid black;
    height: 45px;
    padding: 0;
    text-align: center;
}

.number {
    width: 90px;
}

.last-name {
    width: 200px;
}

.first-name {
    width: 200px;
}

.phone-number {
    width: 150px;
}

.delete {
    width: 200px;
}

button:hover {
    cursor: pointer;
}

.deleteButton:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* End of phone-table */